.bannerImg {
  display: block;
  margin: auto;
  height: 65%;
  width: 65%;
  border-radius: 4px;
}
.timetable{
    background: #3b61d1;
    border-radius: 4px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}
