.Attendance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AttendanceTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  font: bold;
}

.Lecture{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  gap: 2rem;
}

.DivisionInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.DivRadio{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

th,
td {
  padding: 10px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

td:last-child {
  text-align: center;
}

/* td:last-child::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-color: #4caf50;
  border-radius: 50%;
} */

/* td:last-child:not(:empty)::before {
  content: "\2714";
} */

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f5f5f5;
}

.AttendanceVoiceButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.recordString {
  font-size: 12px;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.button.disabled {
  background-color: #dddddd;
  cursor: not-allowed;
}

.button.active {
  background-color: #f44336;
}

.button:focus {
  outline: none;
}
